<%= render partial: "jobs/navbar" %>
<div class="category-container">
	<div class="items">
		<h1>Jobs by Interest Level</h1>
		<%@count_by_level_of_interest.each_pair do |level, count|%>
		<p> You have <%=count%> jobs rated <%=level%>.</p>
		<%end%>
	</div>
	<div class="items">
		<h1>Top 3 Companies By Interest Level</h1>
		<%@top_three_by_average_interest.each_pair do |company, interest|%>
		<p><%=company%></p>
		<%end%>
	</div>
	<div class="items">
		<h1>Jobs By Location</h1>
		<%@count_by_city.each_pair do |city,count|%>
			<p><%=city%>: <%=count%></p>
		<%end%>
	</div>	
</div>


