<%= render partial: "jobs/navbar" %>
<div class="category-container">
	<h1>All Jobs for <strong><%= @company.name %></strong></h1>

	<% @jobs.each do |job| %>
		<div class='items'>
			<p><%=link_to "#{job.title}", company_job_path(@company,job) %> at <%= job.company.name %>
				<%=link_to "Edit", edit_company_job_path(@company,job)%>
				<%=link_to "Delete", company_job_path(@company,job), method: "delete"%>
			</p>
		</div></br >
		<% end %>
	<div class='items'><%= link_to "New Job", new_company_job_path(@company), {class:"new-class"} %></div>

	<h4>Company Contact:</h4>
		<div class = 'items'>
			<p>Name: <%= @contact.name %></p>
			<p>Position: <%= @contact.position%></p>
			<p>Email: <%= @contact.email %></p>
		</div>
</div>
	<h3>Back to <%=link_to 'Companies', '/companies'%></h3>
