<%= render partial: "jobs/navbar" %>
<h4><%= @job.title %><h4>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
</br >
<p></p>
<%=render partial: '/comments/form' %>
<%=render partial: '/comments/job-comments', locals: {comments: @job.comments.reverse} %>
Back to: <%= link_to @job.company.name, company_path(@job.company) %>
