<%= render partial: "jobs/navbar" %>
<h1>All Jobs for <strong><%= @company.name %></strong></h1>

<% @company.jobs.each do |job| %>
  <ul><%= job.title %></ul>
<% end %>

<%=link_to "New Job", new_company_job_path(@company) %>

<%= render partial: "/company/contact"%> 
